<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggj.encrypt.modules.test.dao.xml.CityDao" >
    <cache />
    <select id="getCity" resultType="City">
        select id,name,COUNTRY from City where id = #{id}
    </select>
    <insert id="insert" >
        INSERT into City (name,country)VALUE (#{name},#{country})
    </insert>
</mapper>
