*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/logs
/.idea
/thread/thread.iml
/thread/target
/.idea
/thread/*.iml
/kafka/*.iml
/kafka/*.iml
/kafka/target
/kafka/*.iml
/httpclient/target
/httpclient/httpclient.iml
/js/target
/js/js.iml
/kafka/kafka.iml
/lambda/target
/lambda/lambda.iml
/redis/redis.iml
/redis/target
/socket/socket.iml
/socket/target
/zookeeper/target
/zookeeper/zookeeper.iml
